[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain_experimental = "*"
langchain-chroma = "*"
streamlit = "*"
flake8 = "*"
pypdf2 = "*"
chromadb = "*"
pytube = "*"
streamlit-mic-recorder = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
